<?php declare(strict_types=1);

namespace AmazonPHP\SellingPartner\Api\UpdateInventoryApi;

/**
 * This class was auto-generated by https://github.com/OpenAPITools/openapi-generator/.
 * Do not change it, it will be overwritten with next execution of /bin/generate.sh.
 */
interface VendorDirectFulfillmentInventorySDKInterface
{
    public const API_NAME = 'VendorDirectFulfillmentInventory';

    public const OPERATION_SUBMITINVENTORYUPDATE = 'submitInventoryUpdate';

    public const OPERATION_SUBMITINVENTORYUPDATE_PATH = '/vendor/directFulfillment/inventory/v1/warehouses/{warehouseId}/items';

    /**
     * Operation submitInventoryUpdate.
     *
     * @param AccessToken $accessToken
     * @param string $region
     * @param string $warehouse_id Identifier for the warehouse for which to update inventory. (required)
     * @param \AmazonPHP\SellingPartner\Model\VendorDirectFulfillmentInventory\SubmitInventoryUpdateRequest $body body (required)
     *
     * @throws \AmazonPHP\SellingPartner\Exception\ApiException on non-2xx response
     * @throws \AmazonPHP\SellingPartner\Exception\InvalidArgumentException
     *
     * @return \AmazonPHP\SellingPartner\Model\VendorDirectFulfillmentInventory\SubmitInventoryUpdateResponse
     */
    public function submitInventoryUpdate(\AmazonPHP\SellingPartner\AccessToken $accessToken, string $region, string $warehouse_id, \AmazonPHP\SellingPartner\Model\VendorDirectFulfillmentInventory\SubmitInventoryUpdateRequest $body);

    /**
     * Create request for operation 'submitInventoryUpdate'.
     *
     * @param AccessToken $accessToken
     * @param string $region
     * @param string $warehouse_id Identifier for the warehouse for which to update inventory. (required)
     * @param \AmazonPHP\SellingPartner\Model\VendorDirectFulfillmentInventory\SubmitInventoryUpdateRequest $body (required)
     *
     * @throws \AmazonPHP\SellingPartner\Exception\InvalidArgumentException
     *
     * @return RequestInterface
     */
    public function submitInventoryUpdateRequest(\AmazonPHP\SellingPartner\AccessToken $accessToken, string $region, string $warehouse_id, \AmazonPHP\SellingPartner\Model\VendorDirectFulfillmentInventory\SubmitInventoryUpdateRequest $body) : \Psr\Http\Message\RequestInterface;
}
