<?php

namespace AmazonPHP\SellingPartner\Api\ListingsApi;

use AmazonPHP\SellingPartner\AccessToken;
use AmazonPHP\SellingPartner\Exception\ApiException;
use AmazonPHP\SellingPartner\Exception\InvalidArgumentException;
use Psr\Http\Message\RequestInterface;

/**
* Selling Partner API for Listings Items
*
* The Selling Partner API for Listings Items (Listings Items API) provides programmatic access to selling partner listings on Amazon. Use this API in collaboration with the Selling Partner API for Product Type Definitions, which you use to retrieve the information about Amazon product types needed to use the Listings Items API.  For more information, see the [Listings Items API Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/listings-items-api-v2021-08-01-use-case-guide).
*
* The version of the OpenAPI document: 2021-08-01
*
* This class was auto-generated by https://openapi-generator.tech
* Do not change it, it will be overwritten with next execution of /bin/generate.sh
*/
interface ListingsItemsSDKInterface
{
    public const API_NAME = 'ListingsItems';

    public const OPERATION_DELETELISTINGSITEM = 'deleteListingsItem';

    public const OPERATION_DELETELISTINGSITEM_PATH = '/listings/2021-08-01/items/{sellerId}/{sku}';
    public const OPERATION_GETLISTINGSITEM = 'getListingsItem';

    public const OPERATION_GETLISTINGSITEM_PATH = '/listings/2021-08-01/items/{sellerId}/{sku}';
    public const OPERATION_PATCHLISTINGSITEM = 'patchListingsItem';

    public const OPERATION_PATCHLISTINGSITEM_PATH = '/listings/2021-08-01/items/{sellerId}/{sku}';
    public const OPERATION_PUTLISTINGSITEM = 'putListingsItem';

    public const OPERATION_PUTLISTINGSITEM_PATH = '/listings/2021-08-01/items/{sellerId}/{sku}';

    /**
    * Operation deleteListingsItem
    *
    * @param AccessToken $accessToken
    * @param string $region
    * @param string $seller_id  A selling partner identifier, such as a merchant account or vendor code. (required)
    * @param string $sku  A selling partner provided identifier for an Amazon listing. (required)
    * @param string[] $marketplace_ids  A comma-delimited list of Amazon marketplace identifiers for the request. (required)
    * @param string|null $issue_locale  A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: &#x60;en_US&#x60;, &#x60;fr_CA&#x60;, &#x60;fr_FR&#x60;. Localized messages default to &#x60;en_US&#x60; when a localization is not available in the specified locale. (optional)
    *
    * @throws ApiException on non-2xx response
    * @throws InvalidArgumentException
    * @return \AmazonPHP\SellingPartner\Model\ListingsItems\ListingsItemSubmissionResponse
    */
    public function deleteListingsItem(AccessToken $accessToken, string $region, $seller_id, $sku, $marketplace_ids, $issue_locale = null);
    /**
    * Operation getListingsItem
    *
    * @param AccessToken $accessToken
    * @param string $region
    * @param string $seller_id  A selling partner identifier, such as a merchant account or vendor code. (required)
    * @param string $sku  A selling partner provided identifier for an Amazon listing. (required)
    * @param string[] $marketplace_ids  A comma-delimited list of Amazon marketplace identifiers for the request. (required)
    * @param string|null $issue_locale  A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: &#x60;en_US&#x60;, &#x60;fr_CA&#x60;, &#x60;fr_FR&#x60;. Localized messages default to &#x60;en_US&#x60; when a localization is not available in the specified locale. (optional)
    * @param string[]|null $included_data  A comma-delimited list of data sets to include in the response. Default: &#x60;summaries&#x60;. (optional)
    *
    * @throws ApiException on non-2xx response
    * @throws InvalidArgumentException
    * @return \AmazonPHP\SellingPartner\Model\ListingsItems\Item
    */
    public function getListingsItem(AccessToken $accessToken, string $region, $seller_id, $sku, $marketplace_ids, $issue_locale = null, $included_data = null);
    /**
    * Operation patchListingsItem
    *
    * @param AccessToken $accessToken
    * @param string $region
    * @param string $seller_id  A selling partner identifier, such as a merchant account or vendor code. (required)
    * @param string $sku  A selling partner provided identifier for an Amazon listing. (required)
    * @param string[] $marketplace_ids  A comma-delimited list of Amazon marketplace identifiers for the request. (required)
    * @param \AmazonPHP\SellingPartner\Model\ListingsItems\ListingsItemPatchRequest $body  The request body schema for the &#x60;patchListingsItem&#x60; operation. (required)
    * @param string[]|null $included_data  A comma-delimited list of data sets to include in the response. Default: &#x60;issues&#x60;. (optional)
    * @param string|null $mode  The mode of operation for the request. (optional)
    * @param string|null $issue_locale  A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: &#x60;en_US&#x60;, &#x60;fr_CA&#x60;, &#x60;fr_FR&#x60;. Localized messages default to &#x60;en_US&#x60; when a localization is not available in the specified locale. (optional)
    *
    * @throws ApiException on non-2xx response
    * @throws InvalidArgumentException
    * @return \AmazonPHP\SellingPartner\Model\ListingsItems\ListingsItemSubmissionResponse
    */
    public function patchListingsItem(AccessToken $accessToken, string $region, $seller_id, $sku, $marketplace_ids, $body, $included_data = null, $mode = null, $issue_locale = null);
    /**
    * Operation putListingsItem
    *
    * @param AccessToken $accessToken
    * @param string $region
    * @param string $seller_id  A selling partner identifier, such as a merchant account or vendor code. (required)
    * @param string $sku  A selling partner provided identifier for an Amazon listing. (required)
    * @param string[] $marketplace_ids  A comma-delimited list of Amazon marketplace identifiers for the request. (required)
    * @param \AmazonPHP\SellingPartner\Model\ListingsItems\ListingsItemPutRequest $body  The request body schema for the &#x60;putListingsItem&#x60; operation. (required)
    * @param string[]|null $included_data  A comma-delimited list of data sets to include in the response. Default: &#x60;issues&#x60;. (optional)
    * @param string|null $mode  The mode of operation for the request. (optional)
    * @param string|null $issue_locale  A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: &#x60;en_US&#x60;, &#x60;fr_CA&#x60;, &#x60;fr_FR&#x60;. Localized messages default to &#x60;en_US&#x60; when a localization is not available in the specified locale. (optional)
    *
    * @throws ApiException on non-2xx response
    * @throws InvalidArgumentException
    * @return \AmazonPHP\SellingPartner\Model\ListingsItems\ListingsItemSubmissionResponse
    */
    public function putListingsItem(AccessToken $accessToken, string $region, $seller_id, $sku, $marketplace_ids, $body, $included_data = null, $mode = null, $issue_locale = null);
}
